.error-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #262626, #000000);

    color: #fff;
    text-align: center;
    font-size: 16px;
}

.error-page h2 {
    font-size: 75px;
     color: rgb(230, 9, 31) !important;
    line-height: 60px;
    font-weight: bold;
}
.error-page p {
    line-height: 30px;
    font-size: 19px;
}

.error-page p span {
    font-weight: bold;
}

.error-page .text-inicio {
    color: #ccc;
}

.error-page button {
    background-color: rgb(3, 101, 213);
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
}

.error-page button:hover {
    background-color: rgb(0, 74, 159);
}