<div class="proyectos">
    <h2>Proyectos</h2>
    <section class="card-section">
        
        <article class="card01">
            <div class="scale-imagen">
                <img src="assets/img/peliculas.jpg" />
            </div>
            <h2>Proyecto 01</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, voluptatibus.</p>
            <div class="botones">
                <a>Sitio Web <i class="bi bi-globe"></i></a>
                <a>GitHub <i class="bi bi-github"></i></a>
            </div>
        </article>
        <article class="card01">
            <div class="scale-imagen">
                <img src="assets/img/peliculas.jpg" />
            </div>
            <h2>Proyecto 02</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, voluptatibus.</p>
            <div class="botones">
                <a>Sitio Web <i class="bi bi-globe"></i></a>
                <a>GitHub <i class="bi bi-github"></i></a>
            </div>
        </article>
        <article class="card01">
            <div class="scale-imagen">
                <img src="assets/img/peliculas.jpg" />
            </div>
            <h2>Proyecto 03</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, voluptatibus.</p>
            <div class="botones">
                <a>Sitio Web <i class="bi bi-globe"></i></a>
                <a>GitHub <i class="bi bi-github"></i></a>
            </div>
        </article>
        <article class="card01">
            <div class="scale-imagen">
                <img src="assets/img/peliculas.jpg" />
            </div>
            <h2>Proyecto 03</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, voluptatibus.</p>
            <div class="botones">
                <a>Sitio Web <i class="bi bi-globe"></i></a>
                <a>GitHub <i class="bi bi-github"></i></a>
            </div>
        </article>
    </section>
</div>