.proyectos .card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
    margin-bottom: 50px;
    grid-auto-flow: row;
}
.proyectos .titulo_proyectos {
    color: var(--text-color);
    margin-top: 100px;
    margin-bottom: 65px;
    font-size: 3.5rem;
    font-family: "Montserrat", serif;
}
.proyectos .tecnologias {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%;
    height: 100%;
    display: none;
}
.proyectos .card01:hover .tecnologias img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    object-position: center;

}
.proyectos .card01 .tecnologias .container-images {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transition: all .5s ease-in;
}

.proyectos .card01:hover .tecnologias .container-images:hover img {
    transition: all .5s;
}

.proyectos .card01 .scale-imagen:hover .tecnologias {
    display: block;
}
.proyectos .tecnologias .container-images img {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.proyectos .card01 .tecnologias .container-images:hover img {
    opacity: 1;
    transition-delay: 0.3s;
}

.proyectos .scale-imagen {
    overflow: hidden;
    position: relative;
}
.proyectos .scale-imagen img {
    object-fit: cover;
    object-position: top;
}

.proyectos .scale-imagen:hover img {
    transform: scale(1.1);
    transition: transform 0.5s;
}
.proyectos .card-section .card01 {
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
}
.proyectos .card-section img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}
.proyectos .card-section h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    color: var(--text-color);
    font-family: "Montserrat", serif;
}
.proyectos .card-section p {
    text-align: center;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    color: var(--text-color);
    font-family: "Montserrat", serif;
}

.proyectos .card-section .botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.proyectos .card-section .botones a {
    text-decoration: none;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-active-color);
    padding: 8px 40px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    transition: background-color .5s, transform .5s;
    cursor: pointer;
}
.proyectos .card-section .botones a:nth-child(2) {
    background-color: transparent !important;
    color: var(--text-color);
}
.proyectos .card-section .botones a:hover {
    transform: scale(1.1);
    background-color: var(--primary-hover-color);
}

@media screen and (max-width: 950px) {
    .proyectos .titulo_proyectos {
        text-align: center;
    }
}