html {
    scroll-behavior: smooth;
}
main {
    background-color: var(--background-color);
}
.contenedor {
    max-width: 1500px;
    width: 90%;
    margin: auto;
}
.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
}
.presentacion .imagen {
    background-color: var(--background-border-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding: 6px;
    border-radius: 50%;
}
.presentacion .imagen img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}
.presentacion h1 {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--line-color);
    width: 100%;
    max-width: 100%;
    color: var(--text-color);
    font-family: "Montserrat", monospace;
    
}
.presentacion p {
    color: var(--text-color);
    font-family: "Montserrat", monospace;
}
.presentacion .botones {
    display: flex;
    gap: 40px;
}
.presentacion .botones button{
    background-color: transparent !important;
    color: var(--button-text-color);
}
.presentacion .botones a,
.presentacion .botones button { 
    border: 2px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color .5s, transform .5s;
    cursor: pointer;
    text-decoration: none;
}
.presentacion .botones a:nth-child(2) {
    color: var(--text-active-color);
    background-color: var(--primary-color);
}
.presentacion .botones a:hover,
.presentacion .botones button:hover {
    transform: scale(1.2);
    background-color: var(--primary-color);
}

.container {
    margin: 20px auto;
}
.footer {
    margin-top: 100px;
    background-color: var(--background-contenedor-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #fff;
    padding-top: 20px;
}

.container-icons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-icons i {
    font-size: 30px;
    color: #333;
    transition: color 0.3s ease;
    cursor: pointer;
}

.container-icons i:hover {
    color: #007bff;
}

@media screen and (max-width: 430px) {
    .presentacion .imagen img {
        width: 170px;
        height: 170px;
    }
    .presentacion h1 {
        font-size: 24px;
    }
    .presentacion p {
        width: 90%;
        font-size: 15px;
    }
}

@media screen and (max-width: 390px) {
    .presentacion p {
        width: 95%;
        text-align: center;
     }
}

@media screen and (max-width: 375px) {
    .presentacion h1 {
        font-size: 22px;
    }
}