<app-header></app-header>
<main >
    <section class="presentacion">
        <img src="assets/img/yo.png" />
        <h1>Jonathan, Full Stack Developer</h1>
        <p>Bienvenido a mi portafolio como Desarrollador de Aplicaciones</p>
        <div class="botones">
            <a >Curriculum <i class="bi bi-file-text"></i></a>
            <a href="#proyectos">Proyectos <i class="bi bi-folder"></i></a>
        </div>
    </section>

    <app-sobre-mi id="sobre-mi"></app-sobre-mi>
    <section class="container">
        <app-proyectos id="proyectos"></app-proyectos>
        <app-habilidades id="habilidades"></app-habilidades>
        <app-contacto id="contacto"></app-contacto>
    </section>
    <footer class="footer">
        <p>&copy; Creado por Jonathan Valle</p>
    </footer>
</main>