<app-header></app-header>
<main >

    <section class="presentacion">
        <div class="descripcion">
            <span class="desarrollador01">Desarrollador Full Stack</span>
            <h1>Hola, soy <span>Jonathan</span></h1>
            <svg width="41%" height="20"
                viewBox="0 0 200 8"
                preserveAspectRatio="none"
            >
                <path d="M0,5 C50,0 150,0 200,5" stroke="currentColor" strokeWidth="6" fill="none" />
            </svg>
            <p>{{ getTranslation('description')}}</p>
            <div class="botones">
                <a href="#contacto"><i class="bi bi-envelope"></i> {{ getTranslation('buttonContact')}}</a>
                <button (click)="downloadCV()" id="curriculum"><i class="bi bi-download"></i> {{ getTranslation('buttonCV')}}</button>
            </div>
            <div class="text-line">
                <span>{{ getTranslation('availableToWork')}}</span>
              </div>
        </div>
        <div class="contenedor-imagen">
            <div class="line-top"></div>
            <div class="line-left"></div>
            <div class="line-right"></div>
            <div class="line-bottom"></div>
            <div class="box">
                <div class="developerNameTag"><i class="bi bi-code"></i>Full Stack Developer</div>
            </div>
        </div>
    </section>











    <section class="contenedor-bloques">
        <app-sobre-mi id="sobre-mi"></app-sobre-mi>
        <app-proyectos id="proyectos"></app-proyectos>
        <app-habilidades id="habilidades"></app-habilidades>
        <app-contacto id="contacto"></app-contacto>
    </section>

    <section class="container-icons">
        <a href="https://github.com/JonathanValle12" target="_blank" aria-label="Github de Jonathan"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/jonathan-valle-958118211/" target="_blank" aria-label="LinkedIn de Jonathan"><i class="bi bi-linkedin"></i></a>
    </section>
</main>