* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
}


.cabecera {
    background-color: #343537;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Cambiar la dirección a columna */
    justify-content: flex-start;
    /* Alinear contenido arriba */
    align-items: center;
    position: fixed;
    /* Hacer que el encabezado sea fijo */
}

.cabecera .menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.cabecera .menus img {
    width: 160px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.cabecera .menus ul li {
    list-style: none;
}

.cabecera .menus ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 40px;
}

.main {
    display: flex;
    /* Alinear elementos de la derecha */
    flex-direction: column;
    flex: 1;
    margin-left: 20%;
    /* Establecer un margen izquierdo para evitar solapamiento con el encabezado */
    padding: 20px;
    /* Agregar un relleno para separar el contenido del margen */
}

.main .presentacion {
    text-align: center;
    line-height: 30px;
}

.presentacion .yo_2 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 120px;
}

.presentacion h2 {
    font-size: 35px;
    margin-top: 20px;
    line-height: 45px;
    color: #12588B;
}

.presentacion .botones {
    text-align: center;
    margin-top: 20px;
}

.presentacion button {
    border: none;
    border: 1px solid #12588B;
    background-color: #12588B;
    padding: 8px 15px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

.presentacion button:hover {
    transition: all .5s;
    background-color: #0f4871;
}

.redes_sociales {
    margin-top: 30px;
    width: 0;
}

.redes_sociales i {
    display: flex;
    line-height: 50px;
    font-size: 30px;
    margin-top: 10px;
}

.redes_sociales a {
    color: #000;
}

.main hr {
    margin-top: 300px;
}

.sobre_mi {
    margin-top: 80px;
    text-align: center;
}

.sobre_mi h2 {
    font-size: 45px;
    color: #12588B;
    -webkit-text-stroke: 1px #000;
}

.sobre_mi p {
    width: 80%;
    line-height: 25px;
    margin: 10px auto;
    text-align: center;
}

.sobre_mi h3 {
    font-size: 18px;
    color: #12588B;
    width: 60%;
    margin: 15px auto;
    text-align: center;
}

/* Contenedor principal para los bloques de información */
.view_stack {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas con tamaño igual */
    grid-gap: 20px;
    /* Espacio entre los bloques */
}

/* Estilo base para los bloques de información */
.view_stack div {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    /* Agregar un borde a cada bloque si deseas */
}

.sobre_mi .view_stack .frontend,
.sobre_mi .view_stack .backend,
.sobre_mi .view_stack .herramientas {
    margin-top: 30px;
    /* Añade un margen superior */
}

.sobre_mi .view_stack div h3 {
    width: 100%;
}

.sobre_mi img {
    width: 70px;
    height: 70px;
}

.sobre_mi .view_stack .contenedor_stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.sobre_mi .view_stack div span {
    border: 1px solid #585858;
    background-color: #585858;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    /* Agrega margen inferior para separar los elementos */
}

.proyecto_izquierda {
    position: relative;
}
.proyecto_izquierda .play-icon {
    position: absolute;
    top: 20%;
    left: 45%;
    color: rgb(235, 235, 235);
    
}
.proyecto_izquierda .play-icon i {
    font-size: 35px;
    color: #fff; /* Cambia el color según tu diseño */
    transition: transform 0.3s ease-in-out;
    opacity: .8;
}
.proyectos {
    margin-top: 80px;
    text-align: center;
}

.proyectos .linea {
    width: 30%;
    margin: 10px auto 50px;
    border: 1px solid #12588B;
}

.proyectos p,
.proyectos h2 {
    margin-bottom: 20px;
}

.proyectos h2 {
    font-size: 45px;
    color: #12588B;
    -webkit-text-stroke: 1px #000;
}

.proyectos .proyecto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.proyectos .proyecto>div {
    width: 30%;
    /* Cambiado de 45% a 30% para que quepan tres en una fila */
    margin: 1.5%;
    /* Añadido margen entre los proyectos */
    border: 1px solid #12588B;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.proyectos .proyecto>div:hover {
    transform: scale(1.05);
}

.proyectos .proyecto img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-bottom: 1px solid #12588B;
}

.proyectos .información_proyecto {
    text-align: center;
    line-height: 1.5;
    padding: 15px;
}

.proyectos .información_proyecto h2 {
    font-size: 25px;
}

.proyectos .información_proyecto .información_app {
    background-color: #12588B;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}

.proyectos a {
    color: #000;
}

.proyectos i {
    font-size: 30px;
    margin-bottom: 10px;
}

.proyectos .lenguaje_ {
    font-size: 13px;
}

.contactame {
    width: 60%;
    max-width: 1000px;
    margin: 80px auto;
}

.contactame p {
    text-align: center;
}

.contactame h2 {
    font-size: 45px;
}

.contactame .linea {
    width: 45%;
    margin: 15px auto;
}

.contactame .contacto {
    width: 60%;
    margin: 50px auto 20px;

}

.contactame .contacto input,
.contactame .contacto textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    border: 1px solid #000;

}

.contactame .contacto input[type="submit"] {
    background-color: #12588B;
    border: 1px solid #12588B;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.contactame .contacto textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 90px;
    max-height: 150px;
    min-height: 90px;
}

.contactame .contacto input[type="submit"]:hover {
    transition: all .5s;
    background-color: #0e3f62;
}

.contactame p {
    width: 100%;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #007BFF;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    /* Ocultar al principio */
}

#scroll-to-top a {
    text-decoration: none;
    color: inherit;
}

#scroll-to-top i {
    font-size: 20px;
}

#scroll-to-top.active {
    display: block;
    /* Mostrar cuando se desplaza hacia abajo */
}

.contactame .contacto .error {
    background: rgb(162, 19, 19);
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
}

