.cabecera {
  width: 100%;
  background-color: var(--fondo-header-color);
  position: fixed;
  border-bottom: 1px solid var(--background-border-bottom-header);
  height: 65px;
  z-index: 99999;
  display: flex;
  justify-content: center;
}

.cabecera-contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  margin: 0 20px;
}
.cabecera nav a {
    color: var(--text-color-nav);
    font-family: 'Montserrat', monospace;
    font-weight: normal;
    transition: color 0.5s ease, font-weight 0.3s ease;
    text-decoration: none;
    font-size: 15px;
}
.cabecera nav .icono-derecha {
    display: none;
}
.cabecera a.active {
    color: #FF6B35 !important;
    border-bottom: 3px solid #FF6B35;
    font-weight: bold;
    padding-bottom: 3px;
}
.cabecera .select-icon {
    display: flex;
    gap: 12px;
}
.cabecera nav li {
    display: inline-block;
    padding: 0 15px;
}
.cabecera nav a:hover {
    color: var(--primary-hover-color);
}
.cabecera h2 {
    color: var(--primary-color);
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Montserrat', monospace;
}
.cabecera h2 > span {
    background-color: #FF6B35;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
    vertical-align: bottom;
}
.language-selector {
    display: flex;
    background-color: var(--background-nav-select-icon);
    color: var(--text-color-nav);
    border-radius: 50px;
    padding: 4px;
}
.language-option {
    padding: 3px 8px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    user-select: none;
    border-radius: 50px;
    font-size: 12px;
}
.language-option.selected {
    background-color: #FF6B35;
    color: white;
}
.language-option:not(.selected):hover {
    color: #FF6B35;
}
.cabecera i:first-child {
    background-color:var(--background-nav-select-icon);
    color: var(--text-color-nav);
    border-radius: 50px;
    padding: 7px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .2s ease;
}
.cabecera i:first-child:hover {
    color: #FF6B35;
}
.cabecera .bi-list,
.cabecera .bi-x-lg {
    font-size: 24px;
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .cabecera .menus {
        width: 80%;
    }
    .cabecera nav {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        height: calc(100vh - 65px);
        background-color: var(--background-color);
        flex-direction: column;
        padding: 20px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 9999999;
        display: none;
    }
    .cabecera nav.show-menu {
        display: flex;
    }
    .cabecera nav.nav-container li {
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .cabecera nav.nav-container a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        font-size: 18px;
        border-bottom: 1px solid var(--header-nav-underline);
    }
    .cabecera nav.nav-container a:hover {
        color: var(--text-color-nav) !important;
    }
    .cabecera a.active{
        color: #FF6B35 !important;
        border-bottom: 1px solid #FF6B35 !important;
    }
    .cabecera .bi-list,
    .cabecera .bi-x-lg {
        color: var(--text-color-nav);
        display: block;
        background-color: var(--background-nav-select-icon);
        border-radius: 50%;
        padding: 6px;
        font-size: 20px;
        margin-left: 12px;
    }
    .cabecera h2 {
        width: 100%;
    }
    .cabecera nav .icono-derecha {
        float: right;
        font-size: 16px;
        color: #cecece;
        background-color: var(--background-color);
        display: inline;
    }
     .cabecera nav a.active .icono-derecha {
        color: #FF6B35;
     }
}