
.cabecera {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--fondo-header-color);
    position: fixed;
    z-index: 99999;
    border-bottom: 1px solid #ccc;
    
}
.cabecera nav a {
    color: #fff;
    font-weight: bold;
}
.cabecera .select-icon {
    display: flex;
    gap: 25px;
}
.cabecera nav li {
    display: inline-block;
    padding: 0 20px;
}
.cabecera nav a {
    text-decoration: none;
    cursor: pointer;
    transition: color .5s;
    padding-bottom: 5px;
    color: var(--text-color);
}
.cabecera nav a:hover {
    color: var(--primary-hover-color);
    border-bottom: 2px solid var(--primary-hover-color);
}
.cabecera h2 {
    color: var(--primary-color);
}

.cabecera .menus {
    display: flex;
    gap: 30px;
}

.cabecera .idioma-select {
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    outline: none;
    background-color: transparent !important;
}
.cabecera i {
    cursor: pointer;
    color: var(--primary-color);
}
.cabecera .icon-menu {
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .cabecera .icon-menu {
        display: block;
    }
    .cabecera .menus {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0px;
        right: -300px;
        padding: 15px;
        height: 100vh;
        width: 170px;
        background-color: #FC4B08;
    }
    .cabecera nav {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .cabecera nav a {
        color: #fff;
    }
    .cabecera nav a:hover {
        color: #000;
    }
    .cabecera .idioma-select,
    .cabecera i {
        color: #fff;
    }
    .cabecera .select-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 20px;
    }
    .cabecera .idioma-select option {
        background-color: #000;
    }
    
}