<header class="cabecera" >
    <h2 class="titulo" [ngClass]="{'show-titulo': showMenu}">Jonathan Valle</h2>
    <section class="menus" [ngClass]="{'show-menu': showMenu}">
        <nav>
            <li><a href="#sobre-mi">{{ getTranslation('aboutMe')}}</a></li>
            <li><a href="#proyectos">{{ getTranslation('projects')}}</a></li>
            <li><a href="#habilidades">{{ getTranslation('skills')}}</a></li>
            <li><a href="#contacto">{{ getTranslation('contact')}}</a></li>
        </nav>

        <div class="select-icon">
            <select class="idioma-select" (change)="changeLanguage($event)">
                <option value="es">ES</option>
                <option value="en">EN</option>
            </select>
            <i class="bi" 
               [ngClass]="{ 'bi-moon': isLightTheme(), 'bi-sun': !isLightTheme() }" 
               (click)="toggleTheme()">
            </i>
        </div>
    </section>
    <i *ngIf="showMenu" class="bi bi-x-lg" id="menu" (click)="toggleMenu()"></i>
    <i *ngIf="!showMenu" class="bi bi-list" id="menu" (click)="toggleMenu()"></i>
</header>