<div class="habilidades">
    <div class="line-separador"></div>
    <h2>{{ getTranslation('skills')}}</h2>
    <p class="subtitulo">Tecnologias que utilizo para crear soluciones digitales</p>
    <section class="card-section">

        <ng-container *ngFor="let habilidad of habilidades">
            <article class="card-skill">
                <img [src]="habilidad.portada" [alt]="getTranslation(habilidad.descripcion)" />
                <div class="contenido">
                    <h3>{{habilidad.lenguaje}}</h3>
                </div>
            </article>
        </ng-container>
    </section>
</div>