.habilidades {
    background-color: var(--background-about-me);
    padding-top: 80px;
    padding-bottom: 30px;
}
.habilidades .line-separador {
    width: 80px;
    height: 4px;
    background-color: #FF6B35;
    margin: 0px auto;
    margin-bottom: 20px;
}
.habilidades h2 {
    font-size: 2.2rem;
    margin-bottom: 40px;
    text-align: center;
    color: var(--text-color);
    font-family: "Montserrat", monospace;
    font-weight: bold;
}
.habilidades .subtitulo {
    text-align: center;
    font-size: 15px;
    color: var(--text-primary-color);
}
.habilidades .contenedor {
    max-width: 1140px;
    margin: 50px auto;
    padding: 0 20px;
}
.habilidades .card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0;
    border: 7px solid var(--background-in-icon);
    border-radius: 15px;
}
.habilidades .card-section .card-skill {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(16.666% - 10px);
    box-sizing: border-box;
    padding: 8px;
    transition: transform 0.3s ease-in-out;
}
.habilidades .card-section .card-skill:hover {
    transform: translateY(-5px); 
}
.habilidades .card-section .card-skill h3 {
    font-size: 0.815rem;
    color: var(--text-languaje-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 6px;
}
.habilidades .card-section .card-skill::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--fondo-transition-color);
    transition: width 0.5s;
    z-index: 40;
    border-radius: 5px;
}
.habilidades .card-section .card-skill img {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    object-fit: contain;
    margin-bottom: 6px;
    padding: 6px;
    background-color: var(--background-img-card-languaje);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.habilidades .card-section .card-skill:hover img {
    background-color: var(--background-in-icon);
    box-shadow: var(--box-shadow-card);
}
.habilidades .card-section .card-skill:hover h3 {
    color: #FF6B35;
}
.habilidades .card-section h3 {
    font-size: 16px;
    line-height: 16px;
    margin-top: 14px;
    z-index: 200;
    color: var(--text-color);
    font-family: "Montserrat", monospace;
}
.habilidades .card-section .contenido {
    display: flex;
    flex-direction: column;
    line-height: 10px;
}
.habilidades .card02 {
    display: flex;
    gap: 20px;
    margin-top: 35px;
}
.habilidades .card02 .card {
    flex: 1;
    padding: 25px 30px 30px 20px;
    background-color: var(--background-img-card-languaje);
    transition: border .3s ease;
    margin-bottom: 40px;
}
.habilidades .card02 .card:hover {
    border: 1px solid #FF6B35;
}
.habilidades .card02 .card h3 {
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color);
    margin: 15px 0 10px 0;
}
.habilidades .card02 .card p {
    color: var(--text-primary-color);
    font-size: 16px;
    line-height: 23px;
}
.habilidades .card02 .card i {
    color: #FF6B35;
    background-color: var(--background-in-icon);
    border-radius: 50px;
    font-size: 26px;
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 950px) {
    .habilidades h2 {
        text-align: center;
    }
}

@media screen and (max-width: 830px) {
    .habilidades .card-section .card-skill {
        width: calc(25% - 10px);
    }
    .habilidades .card02 {
        display: block;
    }
    .habilidades .card02 .card {
        margin: 30px 0;
    }
}
@media screen and (max-width: 580px) {
    .habilidades .card-section .card-skill {
        width: calc(33.333% - 10px);
    }
}