.contacto {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}
.contacto .line-separador {
    width: 80px;
    height: 4px;
    background-color: #FF6B35;
    margin-bottom: 15px;
    margin: 20px auto;
}
.contacto .titulo_proyectos {
    font-size: 2.2rem;
    margin-bottom: 40px;
    text-align: center;
    color: var(--text-color);
    font-family: "Montserrat", monospace;
    font-weight: bold;
}
.contacto .desc-proyectos {
    text-align: center;
    font-size: 15px;
    color: #5f5f5f;
}
.contacto form {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
}
.error-message {
    color: #dc3545;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.label-text {
    display: flex;
    gap: 10px;
    align-items: center;
}
.error-message i {
    margin-right: 0.5rem;
    font-size: 1rem;
}

input.ng-invalid,
textarea.ng-invalid {
    border-color: #dc3545;
}
.contacto label {
    color: var(--primary-color);
    font-weight: 600;
    margin-left: 10px;
    font-family: "Montserrat", monospace;
}

.contacto input[type="text"],
.contacto textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
    padding: 10px;
    margin: 10px 0;
    background-color: transparent !important;
    color: var(--text-color);
    margin-bottom: 35px;
    
    
}
.contacto input[type="text"]::placeholder,
.contacto textarea::placeholder {
    color: var(--text-placeholder-color);
    font-family: "Montserrat", monospace;
}

.contacto textarea {
    min-height: 70px;
    max-height: 150px;
}

.contacto input[type="text"]:focus,
.contacto textarea:focus {
    border-bottom: 1px solid var(--primary-color);
}
.contacto .contenedor-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto button {
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #fff;
    padding: 5px 20px;
    transition: background-color .5s;
    font-weight: bold;
    margin-bottom: 50px;
    
}
.contacto .button-enviar {
    position: relative;
}
.contacto button:hover {
    background-color: var(--primary-hover-color);
}

