<div class="contacto">
    <h2>{{ getTranslation('contact')}}</h2>
    <form action="">
        <label>{{ getTranslation('textLabelName')}}</label>
        <input type="text" name="nombre" placeholder="{{ getTranslation('textPlaceHolderName')}}" />

        <label>{{ getTranslation('textLabelEmail')}}</label>
        <input type="text" name="email" placeholder="{{ getTranslation('textPlaceHolderEmail')}}" />

        <label>{{ getTranslation('textLabelMessage')}}</label>
        <textarea name="message" placeholder="{{ getTranslation('textPlaceHolderMessage')}}"></textarea>

        <button type="submit" class="btn-enviar">
            {{ getTranslation('buttonTextEnviarForm')}}
            <i class="bi bi-send"></i>
        </button>
    </form>
</div>