<div class="contacto">
    <h2>Contacto</h2>
    <form action="">
        <label>Tu Nombre</label>
        <input type="text" name="nombre" placeholder="Escribe tu nombre" />

        <label>Tu Correo</label>
        <input type="text" name="nombre" placeholder="Escribe tu nombre" />

        <label>Tu Mensaje</label>
        <textarea placeholder="Escribe tu Mensaje aqui"></textarea>

        <button type="submit" class="btn-enviar">
            Enviar
            <i class="bi bi-send"></i>
        </button>
    </form>
</div>