:root {
    --primary-hover-color: #FF4500;
    --primary-color: #FC4B08;
    --text-color: #000;
    --text-active-color: #fff;
    --button-active-text-color: #fff;
    --button-text-color: #000;
    --border-color: #000;
    --background-contenedor-color: #565656;
    --background-border-color: #FF4500;
    --line-color: #FF4500;
    --fondo-transition-color: #FF4500;
    --text-transition-color: #fff;
    --text-placeholder-color: #000;
    --card-border-color: #000;
    --fondo-header-color: #fff;
}