:root {
    --primary-hover-color: #f55d05;
    --primary-color: #f55d05;
    --text-primary-color: #A1A1A1;
    --background-color: #131313;
    --background-nav-menu: #363636;
    --main-background-color: #121212;
    --background-body-primary: #121212;
    --text-color: #fff;
    --text-info: #dbdbdb;
    --header-nav-underline: #242424;
    --background-in-icon: #31221C;
    --background-img-card-languaje: #222222;
    --box-shadow-card: 0 6px 12px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.3);
    --text-active-color: #fff;
    --border-card-color: #1f1f1f;
    --button-text-color: #fff;
    --text-languaje-color: #ffffff;
    --border-color: #fff;
    --background-nametags: #2A2A2A;
    --color-nametags-text: #d6d6d6;
    --background-contenedor-color: #121212;
    --text-transition-color: #000;
    --text-placeholder-color: #fff;
    --card-border-color: #fff;
    --fondo-header-color: #121212;
    --icon-color: #fff;
    --background-card-border: rgb(95, 89, 89);
    --text-color-card: #014296;
    --text-color-nav: #c7c7c7;
    --background-nav-select-icon: #2a2a2a;
    --color-linea-nombre: #612F1E;
    --background-main-role: #2A1B15;
    --color-main-role-text: #f55d05;
    --color-description-presentation: #AAAAAA;
    --background-button-download-cv: transparent;
    --color-button-download-cv: #fff;
    --background-tag-developer: #1A1A1A;
    --background-line-available-job: #2A2A2A;
    --background-border-bottom-header: #2A2A2A;
    --background-about-me: #141414;

    --contact-text-color: #fff;
    --contact-sub-text-color: #FFD5C3;
    --contact-input-border: #242424;
    --contact-form-text-color: #fff;
    --contact-background-container: #ff7b23;

    --icons-container-float: #2C2C2C;
    --icons-container-float-text: #ffffff;
}