:root {
    --primary-hover-color: #FF4500;
    --primary-color: #b2390d;
    --text-color: #000;
    --text-active-color: #fff;
    --button-active-text-color: #fff;
    --button-text-color: #000;
    --border-color: #000;
    --background-contenedor-color: #565656;
}