:root {
    --primary-hover-color: #c37f00;
    --primary-color: #FFA500;
    --background-color: #060624;
    --text-color: #fff;
    --text-active-color: #fff;
    --button-text-color: #fff;
    --border-color: #fff;
    --background-contenedor-color: #060624;
    --background-border-color: #FFA500;
    --line-color: #FFA500;
    --fondo-transition-color:  #fcb737;
    --text-transition-color: #000;
    --text-placeholder-color: #fff;
    --card-border-color: #fff;
    --fondo-header-color: #060624;
    --icon-color: #fff;
    --background-card-border: rgb(95, 89, 89);
    --text-color-card: #014296;
}