.sobre-mi {
    margin-top: 150px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    margin-left: auto; 
    margin-right: auto;
}

.sobre-mi h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--line-color);
    padding-bottom: 25px;
    text-align: center;
    color: var(--text-color);
}

.sobre-mi p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    color: var(--text-color);
}
