
.sobre-mi {
    margin-top: 130px;
    border-radius: 10px;
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sobre-mi .titulo-sobre-mi {
    font-size: 3.5rem;
    padding-bottom: 15px;
    text-align: center;
    color: var(--text-color);
    font-family: "Montserrat", monospace;
}
.sobre-mi .contenedor-sobre-mi {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}
.sobre-mi .movie-card {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 14px 6px -6px rgba(0,0,0,0.5);
    
    border: 10px solid #000;
    height: 470px;

    overflow-y: scroll;
}

.sobre-mi .movie-card::-webkit-scrollbar {
    width: 0px;
    height: 100%;
}

.sobre-mi .movie-card .menu-superior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-top: 25px;
    margin-bottom: 8px;
}
.sobre-mi .movie-card .menu-superior .search {
    position: relative;
}
.sobre-mi .movie-card .menu-superior .search i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    margin-left: 5px;
    margin-top: 3px;
}
.sobre-mi .movie-card .menu-superior input {
    border-radius: 5px;
    border: 1px solid #f6f3f3;
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    outline: none;
}
.sobre-mi .movie-card .banner {
    position: relative;
}
.sobre-mi .movie-card .banner img {
    width: 100%;
    height: 55px;
}
.sobre-mi .movie-card .banner .logo {
    background-color: #fff;
    width: 23%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: -25px;
    left: 8px;
}
.sobre-mi .movie-card .banner .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px 7px;
    object-fit: cover;
}
.sobre-mi .movie-card .informacion-perfil {
    margin-top: 20px;
    margin-left: 10px;
    max-height: 400px;
    
    font-family: "Montserrat", monospace;
}
.sobre-mi .movie-card .informacion-perfil h2 {
    font-size: 15px;
    text-align: left;
    font-family: "Montserrat", monospace;
    
}
.sobre-mi .movie-card .informacion-perfil p {
    text-wrap: balance;
    font-size: 13px;
    margin-top: -15px;
    
}
.sobre-mi .movie-card .informacion-perfil .centro-educativo {
    margin-top: 0;
}
.sobre-mi .movie-card .informacion-perfil p:nth-child(4) {
    font-size: 11px;
    color: #9a9999;
}
.sobre-mi .movie-card .informacion-perfil .butones {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.sobre-mi .movie-card .informacion-perfil .butones button {
    font-size: 11px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgb(21, 25, 240);
    color: #fff;
    text-overflow: ellipsis;
    

}
.sobre-mi .movie-card .informacion-perfil .butones button:nth-child(2),
.sobre-mi .movie-card .informacion-perfil .butones button:nth-child(3) {
    background-color: transparent;
    border: 1px solid rgb(21, 25, 240);
    color: rgb(21, 25, 240);
}
.sobre-mi .movie-card .informacion-perfil .butones button:nth-child(3) {
    width: 11%;
    padding-top: 4px;
    height: 25px;
}
.sobre-mi .movie-card .informacion-perfil .busca-empleo {
    width: 95%;
    background-color: rgb(225, 226, 255);
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0;
}
.sobre-mi .movie-card .informacion-perfil .busca-empleo h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    font-family: "Montserrat", monospace;
}
.sobre-mi .movie-card .informacion-perfil .busca-empleo p {
    font-size: 12px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sobre-mi .movie-card .informacion-perfil .titulo-header i {
    margin-top: -5px;
}
.sobre-mi .movie-card .informacion-perfil .busca-empleo p:nth-child(3) {
    font-size: 12px;
    color: rgb(18, 55, 203);
}
.sobre-mi .movie-card .informacion-perfil .busca-empleo .titulo-header {
    display: flex;
    justify-content: space-between;
}
.sobre-mi .bio-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: left;
    color: var(--text-color);
    width: 100%;
    font-family: "Montserrat", monospace;
}
.sobre-mi .bio-container button {
    width: 100%;
    max-width: 180px;
    background-color: transparent !important;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 7px;
    color: #828282;
    margin-top: 10px;
    position: relative;
    overflow: hidden; /* Asegura que el reflejo no se muestre fuera del botón */
}
.sobre-mi .bio-container button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%; /* Inicia fuera del botón */
    width: 150%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Gradiente para el reflejo */
    animation: animated 1s linear infinite; /* Duración de la animación */
    animation-delay: 0s, 15s; /* Delay inicial y delay después de cada ciclo */
}

@keyframes animated {
    0% {
        transform: translateX(-50%); /* Comienza fuera del botón */
    }
    100% {
        transform: translateX(150%); /* Termina fuera del botón */
    }
}
.sobre-mi .webPortafolio {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid var(--primary-color);
    width: 80%;
    margin: auto;
}
.sobre-mi .webPortafolio p {
    width: 100%;
    font-size: 13px;
    color: #fff;
    
}

@media screen and (max-width: 1210px) {

    .sobre-mi .contenedor-sobre-mi .card {
        width: 260px;
        height: 350px;
    }
    .sobre-mi .contenedor-sobre-mi .card .card-contenedor {
        margin: 15px;
        margin-top: 30px;
    }
    
}
@media screen and (max-width: 990px) {
    .sobre-mi .contenedor-sobre-mi{
        flex-direction: column;
        gap: 50px;
    }
    .sobre-mi .contenedor-sobre-mi .bio-container{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 950px) {

    .sobre-mi .contenedor-sobre-mi .card{
        width: 200px;
        height: 280px;
    }
    .sobre-mi .contenedor-sobre-mi .card .card-contenedor .imagen {
        width: 170px;
        height: 150px;
    }

}

@media screen and (max-width: 700px) {

    .sobre-mi .contenedor-sobre-mi {
        flex-direction: column;
        align-items: center;
    }
    .sobre-mi .contenedor-sobre-mi .card{
        width: 300px;
        height: 430px;
    }
    .sobre-mi .contenedor-sobre-mi .card .card-contenedor{
        margin: 40px 25px;
    }
    .sobre-mi .contenedor-sobre-mi .card .card-contenedor .imagen {
        width: 250px;
        height: 250px;
    }
    .sobre-mi .contenedor-sobre-mi .card-contenedor .imagen p {
        font-size: 25px;
        line-height: 10px;
        margin-top: 15px;
    }
    .sobre-mi .contenedor-sobre-mi .card-contenedor .imagen p:nth-child(3) {
        font-size: 15px;
    }
    .sobre-mi .contenedor-sobre-mi .card .webPortafolio p {
        text-align: center;
    }
    .sobre-mi .contenedor-sobre-mi .card-contenedor .line {
        height: 300px;
    }
    .sobre-mi .contenedor-sobre-mi .bio-container p {
        font-size: 16px;
    }
}

@media screen and (max-width: 430px) {
    .sobre-mi .bio-container p {
        width: 95%;
    }
}