<section class="sobre-mi">
    <h2 class="titulo-sobre-mi">Sobre mi</h2>
    <div class="contenedor-sobre-mi">
        <article class="movie-card" >
            <div class="card-linkedin">
                <header class="menu-superior">
                    <i class="bi bi-arrow-left"></i>
                    <div class="search">
                        
                        <input type="search" name="buscador" value="Jonathan valle" />
                        <i class="bi bi-search"></i>
                    </div>
                    <i class="bi bi-gear"></i>
                </header>
                <main class="perfil-linkedin">
                    <div class="banner">
                        <img src="assets/img/banner.webp" alt="foto Banner de mi" />
                        <div class="logo">
                            <img src="assets/img/foto_mia.webp" alt="foto perfil" />
                        </div>
                    </div>
                    <section class="informacion-perfil">
                        <h2>Jonathan valle</h2>
                        <p>{{getTranslation('textDescriptionMe')}}</p>
                        <p class="centro-educativo">{{getTranslation('textLocationMe')}}</p>
                        <p>Barcelona, Cataluña, España</p>
                        <div class="butones">
                            <button>{{getTranslation('textInterest')}}</button>
                            <button>{{getTranslation('textAddSection')}}</button>
                            <button><i class="bi bi-three-dots"></i></button>
                        </div>
                        <div class="busca-empleo">
                            <div class="titulo-header">
                                <h3>{{getTranslation('textJobSearch')}}</h3>
                                <i class="bi bi-pencil"></i>
                            </div>
                            <p>{{getTranslation('textJobPositions')}}</p>
                            <p>{{getTranslation('textShowDetails')}}</p>
                        </div>
                    </section>
                </main>
            </div>
        </article>
        <div class="bio-container">
            <p>{{ getTranslation('textBioAboutMe')}}</p>
            <button>{{getTranslation('textAvailibity')}}</button>
        </div>
    </div>

</section>